In [1]:
import pandas as pd
import numpy as np

In [2]:
classData = pd.read_csv('/Users/digvijay/Developer/Research/quantumkernelclassification/Data/classData.csv')
classData

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc
0,1,0,0,1,-151.291812,-9.677452,85.800162,0.400750,-0.132935,-0.267815
1,1,0,0,1,-336.186183,-76.283262,18.328897,0.312732,-0.123633,-0.189099
2,1,0,0,1,-502.891583,-174.648023,-80.924663,0.265728,-0.114301,-0.151428
3,1,0,0,1,-593.941905,-217.703359,-124.891924,0.235511,-0.104940,-0.130570
4,1,0,0,1,-643.663617,-224.159427,-132.282815,0.209537,-0.095554,-0.113983
...,...,...,...,...,...,...,...,...,...,...
7856,0,0,0,0,-66.237921,38.457041,24.912239,0.094421,-0.552019,0.457598
7857,0,0,0,0,-65.849493,37.465454,25.515675,0.103778,-0.555186,0.451407
7858,0,0,0,0,-65.446698,36.472055,26.106554,0.113107,-0.558211,0.445104
7859,0,0,0,0,-65.029633,35.477088,26.684731,0.122404,-0.561094,0.438690
7860,0,0,0,0,-64.598401,34.480799,27.250065,0.131669,-0.563835,0.432166

In [3]:
detectData = pd.read_csv('/Users/digvijay/Developer/Research/quantumkernelclassification/Data/detect_dataset.csv')
detectData

,Output (S),Ia,Ib,Ic,Va,Vb,Vc,Unnamed: 7,Unnamed: 8
0,0,-170.472196,9.219613,161.252583,0.054490,-0.659921,0.605431,NaN,NaN
1,0,-122.235754,6.168667,116.067087,0.102000,-0.628612,0.526202,NaN,NaN
2,0,-90.161474,3.813632,86.347841,0.141026,-0.605277,0.464251,NaN,NaN
3,0,-79.904916,2.398803,77.506112,0.156272,-0.602235,0.445963,NaN,NaN
4,0,-63.885255,0.590667,63.294587,0.180451,-0.591501,0.411050,NaN,NaN
...,...,...,...,...,...,...,...,...,...
11996,0,-66.237921,38.457041,24.912239,0.094421,-0.552019,0.457598,NaN,NaN
11997,0,-65.849493,37.465454,25.515675,0.103778,-0.555186,0.451407,NaN,NaN
11998,0,-65.446698,36.472055,26.106554,0.113107,-0.558211,0.445104,NaN,NaN
11999,0,-65.029633,35.477088,26.684731,0.122404,-0.561094,0.438690,NaN,NaN
12000,0,-64.598401,34.480799,27.250065,0.131669,-0.563835,0.432166,NaN,NaN

In [4]:
classData.head(5)

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc
0,1,0,0,1,-151.291812,-9.677452,85.800162,0.400750,-0.132935,-0.267815
1,1,0,0,1,-336.186183,-76.283262,18.328897,0.312732,-0.123633,-0.189099
2,1,0,0,1,-502.891583,-174.648023,-80.924663,0.265728,-0.114301,-0.151428
3,1,0,0,1,-593.941905,-217.703359,-124.891924,0.235511,-0.104940,-0.130570
4,1,0,0,1,-643.663617,-224.159427,-132.282815,0.209537,-0.095554,-0.113983

In [5]:
classData['faultTypeString'] = classData['G'].astype(str) + classData['C'].astype(str) + classData['B'].astype(str) + classData['A'].astype(str)

In [6]:
classData.head(5)

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc,faultTypeString
0,1,0,0,1,-151.291812,-9.677452,85.800162,0.400750,-0.132935,-0.267815,1001
1,1,0,0,1,-336.186183,-76.283262,18.328897,0.312732,-0.123633,-0.189099,1001
2,1,0,0,1,-502.891583,-174.648023,-80.924663,0.265728,-0.114301,-0.151428,1001
3,1,0,0,1,-593.941905,-217.703359,-124.891924,0.235511,-0.104940,-0.130570,1001
4,1,0,0,1,-643.663617,-224.159427,-132.282815,0.209537,-0.095554,-0.113983,1001

In [7]:
classData['faultTypeString'].unique()

array(['1001', '1011', '0110', '0111', '1111', '0000'], dtype=object)

In [8]:
faultTypeDict = {'1001': 1, 
				 '1011': 2, 
				 '0110': 3, 
				 '0111': 4, 
				 '1111': 5, 
				 '0000': 6
				}

In [9]:
classData['fault'] = classData['faultTypeString'].map(faultTypeDict)
classData

,G,C,B,A,Ia,Ib,Ic,Va,Vb,Vc,faultTypeString,fault
0,1,0,0,1,-151.291812,-9.677452,85.800162,0.400750,-0.132935,-0.267815,1001,1
1,1,0,0,1,-336.186183,-76.283262,18.328897,0.312732,-0.123633,-0.189099,1001,1
2,1,0,0,1,-502.891583,-174.648023,-80.924663,0.265728,-0.114301,-0.151428,1001,1
3,1,0,0,1,-593.941905,-217.703359,-124.891924,0.235511,-0.104940,-0.130570,1001,1
4,1,0,0,1,-643.663617,-224.159427,-132.282815,0.209537,-0.095554,-0.113983,1001,1
...,...,...,...,...,...,...,...,...,...,...,...,...
7856,0,0,0,0,-66.237921,38.457041,24.912239,0.094421,-0.552019,0.457598,0000,6
7857,0,0,0,0,-65.849493,37.465454,25.515675,0.103778,-0.555186,0.451407,0000,6
7858,0,0,0,0,-65.446698,36.472055,26.106554,0.113107,-0.558211,0.445104,0000,6
7859,0,0,0,0,-65.029633,35.477088,26.684731,0.122404,-0.561094,0.438690,0000,6
7860,0,0,0,0,-64.598401,34.480799,27.250065,0.131669,-0.563835,0.432166,0000,6

In [10]:
len(classData)

7861

In [11]:
classificationData = classData[['Ia', 'Ib', 'Ic', 'Va', 'Vb', 'Vc', 'fault']]

In [12]:
len(classificationData)

7861

In [13]:
classificationData.to_csv('classificationData.csv')

In [14]:
classificationData.where(classificationData['fault'].isin([0, 5])).dropna()

              Ia          Ib          Ic        Va        Vb        Vc  fault
4363  -99.252463   52.717974   48.341534  0.410059 -0.086914 -0.323145    5.0
4364 -342.238819  224.821345  119.149604  0.095347 -0.002326 -0.093021    5.0
4365 -526.874012  351.614759  176.674369 -0.130437  0.055441  0.074996    5.0
4366 -633.768916  420.246089  214.577137 -0.244709  0.082066  0.162643    5.0
4367 -639.566896  415.329565  225.117414 -0.223359  0.073192  0.150167    5.0
...          ...         ...         ...       ...       ...       ...    ...
5491  130.117188  -19.541395   19.717378  0.359460 -0.579100  0.219640    5.0
5492  116.522025  -20.282441   20.083174  0.361053 -0.577090  0.216037    5.0
5493  102.899531  -20.981157   20.404671  0.362540 -0.574888  0.212348    5.0
5494   89.239696  -21.648872   20.675159  0.363919 -0.572499  0.208581    5.0
5495   75.540847  -22.278939   20.903750  0.365181 -0.569928  0.204747    5.0

[1133 rows x 7 columns]